*{
    font-family: sans-serif
}
*{
    padding:0;
    margin:0;
}
/*
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: #c372b0;
  }
::-webkit-scrollbar-thumb {
    background: #a9039e;
  }
::-webkit-scrollbar-thumb:hover {
    background: #710249; 
  }
*/
.index-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.intro{
    
}
.intro h2{
    font-size: 3.5rem;
}
.intro p{
    font-size: 1.3rem;
}
