{% extends 'base.html' %} {% block content %}
    <section class="genSec">
        <nav>
            <h4>Chatting about:<span class="theme">{{receiver_name}}</span></h4>
            <button id="leaveChat">Leave Chat</button>
        </nav>
        
        <main class="chattingSection">
            <div class="messages" id="messages"></div>
            <div class="sending">
               <input type="text" placeholder="Type a message" name="message" id="message">
               <button onClick="sendMessage()" name="send" type="button" class="send">Send</button>
            </div>
        </main>
    </section>
    <script type="text/javascript">
        let socketio = io()
        const messages  = document.getElementById('messages')

        const createMessage = (username, msg) =>{
            const content =`
            <div class="text">
                <span class="fullMessage">
                    <strong class="strong">${username}</strong>: ${msg}
                </span>
            </div>
            `
            messages.innerHTML += content
        }
        socketio.on('message', (data) =>{
            createMessage(data.username, data.message)})

        const sendMessage = () =>{
            const message = document.getElementById("message");
            if (message.value == "") return;
            socketio.emit("message", { data: message.value });
            message.value = "";}
        
                
        document.getElementById('leaveChat').addEventListener('click', ()=>{
            window.location = "{{url_for('find_chat')}}"
        })
    </script>
    {% for msg in messages %}
    <script type="text/javascript">
      createMessage("{{msg.username}}", "{{msg.message}}");
    </script>
    {% endfor %}
{% endblock %}
