<!-- {% block title %}Small Talk Themantic Chat Rooms|Find Chat Romm{% endblock %} -->
{% extends 'base.html'%} {% block content %}
    <section>
        <nav class="index-nav">
            <p class="index-title"><b>Small Talk</b></p>
            <div>
                <p>Home</p>
                <p>About</p>
                <p>Contant</p>
            </div>
        </nav>
        <main>
            <h3 class="statement" style="margin-top: 7rem;">Find a Theme</h3> 
            <section class="all-themes">
                    <form method="get"  acttion="{{url_for('find_chat')}}" action="{{url_for('chatting')}}" class="themes">
                        {% for user in usernames %}
                        <p>
                            <span>{{ loop.index }}. {{user}}</span>
                            <button type="submit" class="joinButton" name="reciever" value="{{ loop.index }} {{user}}">
                                Join
                            </button>
                        </p>
                        {% endfor %}
                    </form>
            </section>
            <form action="{{ url_for('logout') }}" method="POST" class="logout">
                <button type="submit" id="logout">Log Out</button>
            </form>
        </main>
        
    </section>

    <script type="text/javascript">
        let back = document.getElementById('logout')
        logout.addEventListener('click', ()=>{
            window.location = "{{ url_for('login') }}"
        })
    </script>
{% endblock %}
