<!-- {% block title %}Small Talk Themantic Chat Rooms|Find Chat Romm{% endblock %} -->
{% extends 'base.html'%} {% block content %}
    <section class="genSec d-flex justify-content-center">
        <main>
            <h3 class="text-white">Find a Theme to Talk About</h3> 
            <section class="d-flex justify-content-center">
                <div class="">
                    <form method="get"  acttion="{{url_for('find_chat')}}" action="{{url_for('chatting')}}" class="themes">
                        {% for user in usernames %}
                        <p class="currentThemes d-flex justify-content-sm-between">
                            <span>{{ loop.index }}) {{user}}</span>
                            <button type="submit" class="joinButton" name="reciever" value="{{ loop.index }} {{user}}">
                                Join
                            </button>
                        </p>
                        {% endfor %}
                    </form>
                </div>
            </section>
            <div class="request">
            </div> 
            <!-- propbably don't need that = -->
            <form action="{{ url_for('logout') }}" method="POST" class="logoutForm d-flex justify-content-center">
                <button type="submit" id="logout">Log Out</button>
            </form>
        </main>
        
    </section>

    <script type="text/javascript">
        let back = document.getElementById('logout')
        logout.addEventListener('click', ()=>{
            window.location = "{{ url_for('login') }}"
        })
    </script>
{% endblock %}
