<!-- {% block title %}Small Talk Themantic Chat Rooms{% endblock %} -->
{% extends 'base.html' %} {% block content %}
<section>
    <nav class="index-nav">
        <p><b>Small Talk</b></p>
    </nav>
    <main>
        <div class="intro">
            <h2>Themantic Chatrooms</h2>
            <p>Discover and engage in dynamic chatrooms tailored to your interests! 
                This chatroom website brings like-minded individuals together for meaningful conversations.
            </p>
        </div>
        <div class="index-buttons">
            <button type="button" id="logInButton">Log In</button>
            <button type="button" id="signUpButton">Sign Up</button>
        </div>
    </main>
    </section>
    <script>
        const logInButton = document.querySelector('#logInButton')
        const signUpButton = document.querySelector('#signUpButton')
            
        logInButton.addEventListener('click', ()=>{
        location.href="{{ url_for('login') }}"
        })
        signUpButton.addEventListener('click', ()=>{
            location.href="{{ url_for('signup') }}"
        })
    </script>
{% endblock %}
