<!-- {% block title %}Small Talk Themantic Chat Rooms{% endblock %} -->
{% extends 'base.html' %} {% block content %}
<section class="genSec d-flex justify-content-center">
    <main>
        <h2 class="small-talk">Small Talk</h2>
        <div class="buttons d-flex justify-content-center">
            <button type="button" id="logInButton">Log In</button>
            <button type="button" id="signUpButton">Sign Up</button>

        </div>
    </main>
    </section>
<script>
    const logInButton = document.querySelector('#logInButton')
    const signUpButton = document.querySelector('#signUpButton')
        
    logInButton.addEventListener('click', ()=>{
    location.href="{{ url_for('login') }}"
    })
    signUpButton.addEventListener('click', ()=>{
        location.href="{{ url_for('signup') }}"
    })
</script>
{% endblock %}
