{% extends 'base.html' %} {% block content %}
    <section class="genSec">
    <h3>Log In</h3>
    <main>
        <form method="post" action="logging">
            <input type="text" name="username" id="username" placeholder="Name"/>
            <input type="password" name="pass" id="pass" placeholder="Password">
            <section class="inForm">
                <button type="submit" class="log">Log in</button>
            </section>
        </form>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
    {% endif %}
    </main>
    </section>
{% endblock %}