<!-- {% block title %}Small Talk Themantic Chat Rooms|Log In{% endblock %} -->
{% extends 'base.html' %} {% block content %}
    <section class="genSec">
    <h3>Log In</h3>
    <main>
        <form method="post" action="logging">
            <input type="text" name="username" id="username" placeholder="Name" autofocus/>
            <input type="password" name="pass" id="pass" placeholder="Password">
            {% if error %}
                
                <p class="error"><span>--</span>{{error}}<span>--</span></p>
            {% endif %}
            <section class="inForm">
                <button type="submit" class="log">Log in</button>
                <button type="button" id="back">Back</button>
            </section>
        </form>
    </main>
    </section>
    <script type="text/javascript">
        let back = document.getElementById('back')
        back.addEventListener('click', ()=>{
            window.location = "/"
        })
    </script>
{% endblock %}
