<!-- {% block title %}Small Talk Themantic Chat Rooms|Sign Up{% endblock %} -->

<!-- altering the base (app wrapper) to the log in panel -->
{% extends 'base.html' %} {% block content %}
<section>
    <!-- main section -->
    <main>
        <h2 class="statement">Register</h2>
        <form method="post" action="/signing" class="entering">
            <input type="text" name="username" id="username" placeholder="Name" required autofocus>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="password_confirm" id="password_confirm" placeholder="Repeat password" required>
            <!-- notifications -->
            {% if error %}
                <p class="text-center text-white mt-1">{{error}}</p>
            {% endif %}
            <div class="entering-buttons">
                <button type="submit" class="sign">Sing Up</button>
                <button type="button" id="back">Back</button>
            </div>
        </form>

    </main>

    <!-- "Back" button destination, Javascript inclusion -->
    </section>
    <script type="text/javascript">
        let back = document.getElementById('back')
        back.addEventListener('click', ()=>{
            window.location = "/"
        })
    </script>
{% endblock %}
